<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="container">
    <% flash.each do |name, messageword| %>
    <% content_tag(:div, messageword, class: "alert alert-info") %>
    <% end %>
    <%= render 'layouts/footer' %>
    <%= yield %>
    </div>
  </body>
</html>
